
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap');

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Tajawal', sans-serif;
  background-color: #E8E2DF;
  direction:rtl;
}

/*-------------------------------NAV-------------------------------*/
nav {
  background-color: #E8E2DF;
  height: 110px;
}
.mainNav {
  display: flex;
  justify-content:space-between;
  align-items:center;
  background-color: #e8e2dfbe;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
  height: 110px; 
  position: fixed;
  top: 0;
  left: 0px;
  right: 0px;
  z-index: 1;
}
.navBar {
  display: flex;
  align-items: center;
  gap: 40px;
}
.navBar img {
  width: 120px;
  margin-right: 60px;
  cursor: pointer;
}
.navBar a {
  text-decoration: none;
  color: #ABBEA9;
  font-size: 20px;
}
.navBar ul {
  display: flex;
  list-style: none;
  gap: 40px;
}
.navBar a:hover  {
  border-bottom: 2px solid #E6AE97 ;
}
.navBar li .active  {
  border-bottom: 2px solid #E6AE97 ;
}

/*----------login & singup btn & profile----------*/
.btnNav {
  display: flex;
  justify-content: space-between;
  align-items:center;
  gap: 20px;
  margin-left: 60px;
}
.btnNav button{
  font-family: 'Tajawal', sans-serif;
  padding: 7px 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  gap:8px;
  color: white;
  font-size: 18px;
  background-color: #ABBEA9;
}
.btnNav button:hover {
  background-color: #103d3f;
}
.btnNav p{
  margin: 0;
  cursor: pointer;
  font-size: 22px;
  color: white;
}
.btnNav p:hover{
  color: rgba(255, 255, 255, 0.8);
}

/*-------------------------------FOOTER-------------------------------*/
footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ABBEA9;
  height: 70px;
}
footer p {
  font-size: 14px;
  color: #D38E72;
  background-color: rgba(255, 255, 255, 0.303);
  border-radius: 20px;
  padding: 5px;
}
footer a {
  text-decoration: none;
  color: white;  
}
footer ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
footer li {  
  padding: 8px 9px 1px 9px;
  background-color: #E6AE97;
  border-radius: 50%;
}
footer li:hover {  
  background-color: rgba(255, 255, 255, 0.303);
}

/*-------------------------------HOME-------------------------------*/
/*----------header----------*/
.headerContainer {
  height: 80vh;
}
.headerBg {
  height: 90%;
  background-image: url('./assets/bg_header.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.headerContentContainer {
  display: flex;
  justify-content: space-between;
  align-items:center;
  margin: 90px 130px;
}
.headerContentContainer img {
  height: 380px;
}
.headerContent {
  font-size: 45px;
  color: #103D3F;
  font-weight:900;
}
.headerContent button {
  padding: 12px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Tajawal', sans-serif;
  font-size: 20px;
  font-weight: 900;
  background-color: #103d3f;
  color: white;
}
.headerContent button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #103D3F;
}

/*----------plan section----------*/
.palnSection h1 {
  font-size: 45px;
  color: #103D3F;
  font-weight:900;
  margin: 10px 10px 10px 300px;
  direction: ltr;
}
.palnSection img {
  height: 60%;
  width: 100%;
}

/*----------vision section----------*/
.visionSection {
  display: flex;
  justify-content: space-between;
  margin: 80px 130px 80px 0px;
}
.visionSection h1 {
  font-size: 45px;
  color: #103D3F;
  font-weight:900;
  margin-right: 30px;
}
.visionSection p {
  font-size: 20px;
  color: #103D3F;
  font-weight:900;
  background-color: white;
  border-radius: 25px;
  border-top: 4px solid #E6AE97;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.25);
  padding: 45px;
}
.visionSection img {
  width: 50%;
  height: 50%;
}

/*----------whyUs section----------*/
.whyUsSection h1 {
  font-size: 45px;
  color: #103D3F;
  font-weight:900;
  margin: 10px 10px 10px 300px;
  direction: ltr;
}
.whyUsSection img {
  width: 100%;
}

/*----------newsletter section----------*/
.newsletterBg {
  background-image: url('./assets/newsletter.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh;
}
.newsletterContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 170px;
}
.newsletterContent h3 {
  font-size: 30px;
  color: #103D3F;
  font-weight:900;
}
.newsletterContent button {
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Tajawal', sans-serif;
  font-size: 20px;
  font-weight: 900;
  background-color: #103d3f;
  color: white;
}
.newsletterContent button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #103D3F;
}
.newsletterContent input {
  text-align: center;
  padding: 14px 100px;
  border-radius: 8px;
  border: none;
}
.newsletterContent input:focus {
  outline: 1px dotted #103d3fd2;
}

/*-------------------------------SESSIONS-------------------------------*/
.sessionsContainer{
  background-color: #E8E2DF;
  font-family: 'Tajawal', sans-serif;
  padding: 5%;
}
.headerSessions{
  height: 20vh;
  text-align: left;
  font-family: 'Tajawal', sans-serif;
  font-size: 45px;
  color: #103D3F;
  padding: 0px 150px 50px 150px;
  
}
.headerSessionsTitles {
  display: flex;
  justify-content: space-around;
}
.lineSessions {
  border-bottom: 2px solid #E6AE97 ;
}
